body {
	height: 2000px;
}
/*Header*/
.header {
	background-color: lightgrey;
	padding: 15px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
}
.logo {
	display: inline-block;
	margin-right: 50px;
}
.nav {
	display: inline-block;
}
.nav-li {
	display: inline-block;
	margin-right: 20px;
}


/*Home page*/

.date {
	width: 56px;
	height: 56px;
	background-color: #3D58A6;
	padding: 7px 10px;
	font-size: 37px;
	color: #fff;
	margin-bottom: 10px;
	margin-top: 50px;
}
.text-block {
	display: inline-block;
	width: 929px;
	vertical-align: top;

}
.image-block {
	vertical-align: top;
	margin-right: 39px;
}	
.text1 {
	margin-bottom: 21px;
}
.title1 {
	margin-bottom: 17px;
	margin-top: 23px;
}
.month1 {
	color: #3D58A6;
}



/*Contact page*/

.section-contact {
	background-color: #E6E6E6;
}
.container {
	width: 1177px;
	margin: 0 auto;
}
.left-block {
	display: inline-block;
	vertical-align: top;
	margin-right: 75px;
}
.right-block {
	display: inline-block;
	vertical-align: top;
}
/*section1*/
.section-2 {
	margin-top: 20px;
}
.box-wrapper {
	width: 400px;
	height: 400px;
	background-color: green;
	position: relative;
}
.box-1 {
	width: 150px;
	height: 150px;
	background-color: yellow; 
	position: absolute;
	right: 30px;
	bottom: 50px;
}
/*section2*/
.section-2 {
	margin-top: 20px;
}
.image-wrapper {
	position: relative;
	width: 800px;
}
.img-text {
	position: absolute;
	top: 50px;
	left: 100px;
}
